{% extends "base.html" %}

{% block title %}Rules | {{ block.super }}{% endblock %}

{% block content %}
<h1>Code of Conduct</h1>

<h3>Quick Version</h3>

<p><i>HackIt Fresno</i> is dedicated to providing a harassment-free
    experience for everyone, regardless of gender, gender identity and
    expression, sexual orientation, disability, physical appearance, body
    size, race, or religion. We do not tolerate harassment of participants
    in any form. Sexual language and imagery is not appropriate without
    discussion and pre-approval from <i>HackIt Fresno</i> organizers.
    Participants violating these rules may be sanctioned or expelled from
    the group at the discretion of <i>HackIt Fresno</i> organizers.</p>

<h3>Additional Details</h3>

<p>Harassment includes offensive verbal comments related to gender,
    gender identity and expression, sexual orientation, disability,
    physical appearance, body size, race, religion, sexual images in
    public spaces, deliberate intimidation, stalking, following,
    harassing photography or recording, sustained disruption of
    discussion, inappropriate contact, and unwelcome sexual attention.</p>

<p>Participants asked to stop any harassing behavior are expected to comply
    immediately.</p>

<p>If a participant engages in harassing behavior, <i>HackIt Fresno</i>
    organizers may take any action they deem appropriate, including warning
    the offender or temporary or permanent expulsion from the group.</p>

<p>If you are being harassed, notice that someone else is being harassed,
    or have any other concerns, please contact <i>HackIt Fresno</i>
    organizers as soon as possible. They will address the issue as soon
    as they are able.</p>

<h3>Contact Information</h3>
<ul class="list-unstyled">
    <li>
        <span class="fa fa-fw fa-phone"></span>
        <a href="tel:+1-559-999-6053">559-999-6053</a>
    </li>
    <li>
        <span class="fa fa-fw fa-envelope"></span>
        <a href="mailto:info@hackitfresno.com">info@hackitfresno.com</a>
    </li>
</ul>

<hr />

<p class="small italic text-muted">Shamelessly adapted from the
    <a href="http://fresnohacknight.com/">Fresno Hack Night</a> Code of Conduct<p>

{% endblock %}
