{% extends "base.html" %}

{% block title %}24 hour coding hackathon | {{ block.super }}{% endblock %}

{% block content %}
<h1 class="text-center"><b>may <span class="light">1<sup>st</sup>/2<sup>nd</sup></span></b> 24hr hackathon</h1>

<div class="row">
    <div class="col-sm-4 col-sm-offset-2 text-center">
        <a href="https://goo.gl/maps/UqrJa">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=2210+San+Joaquin+St.,+Fresno,+CA&size=420x240&sensor=false&zoom=13&markers=|color:red|2210+San+Joaquin+St.,+Fresno,+CA" alt="Map to Bitwise Mural District" class="img-thumbnail" />
        </a>
    </div>
    <div class="col-md-4">
        <p class="lead">
            <address>
                <h4 class="bold">Bitwise Mural District</h4>
                2210 San Joaquin St.<br />
                Fresno, CA 93721<br />
            </address>
        </p>
        <ul class="list-unstyled">
            <li>
                <span class="fa fa-fw fa-phone"></span>
                <a href="tel:+1-559-999-6053">559-999-6053</a>
            </li>
            <li>
                <span class="fa fa-fw fa-envelope"></span>
                <a href="mailto:info@hackitfresno.com">info@hackitfresno.com</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
