{% extends "base.html" %}

{% block content %}
<h1>Rules</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra justo massa, sed egestas velit malesuada at. Vestibulum hendrerit turpis vel ipsum suscipit luctus. Fusce ut magna quis metus lacinia malesuada. Nullam pellentesque ligula eget justo commodo, vel sagittis risus accumsan. Proin luctus in lorem in condimentum. Vivamus vulputate neque in neque porta, sed porttitor felis imperdiet. In tincidunt euismod ornare. Ut sit amet egestas nisi, quis sagittis eros. Nulla viverra elit id leo interdum, sed tempus tellus egestas. Praesent dolor enim, vulputate sit amet viverra ut, maximus eget elit.</p>

<p>Vestibulum finibus elit ut tellus facilisis, et feugiat est ultricies. Quisque tempus nibh eu arcu dignissim sagittis. Etiam non molestie diam, ac hendrerit mauris. Sed id elementum magna. Fusce mi nisl, scelerisque lobortis fringilla vitae, faucibus porta nulla. Maecenas vel malesuada justo. Mauris mattis mauris at tortor convallis aliquet. Quisque nec commodo lacus. Suspendisse nec ligula justo. Maecenas vel placerat elit. Vestibulum tincidunt massa diam, eget auctor lorem hendrerit sed. Duis vel ipsum molestie dolor aliquet gravida. Praesent lobortis dui a tellus molestie, at mattis urna vestibulum. In dapibus semper faucibus. Fusce accumsan ultricies lacus.</p>

<p>Aliquam ac justo vestibulum, placerat massa quis, placerat neque. Pellentesque ante ex, eleifend id tellus tincidunt, eleifend tristique velit. Proin tempus, ligula sed pellentesque ornare, erat ligula iaculis felis, eu sodales leo nibh sit amet turpis. Etiam suscipit erat vel tempus mattis. Praesent ac nisi libero. Quisque ornare magna dolor, vel pulvinar diam sagittis id. In aliquam a ligula vitae convallis.</p>

{% endblock %}
