{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}HackIt Fresno{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' />
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
    <header>
        <div class="banner">
            <div class="container">
                <a href="{% url "index" %}">
                    <img src="{% static "img/hackit-banner.jpg" %}" alt="HackIt Fresno logo" class="img-responsive" />
                </a>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav pull-right visible-xs" style="margin-right: 0;">
                        <li>
                            <a href="https://twitter.com/HackItFresno">
                                <span class="fa fa-twitter fa-lg"></span>
                                @HackItFresno
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse navbar-left" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url "index" %}">Home</a></li>
                        {% comment %}
                        <li><a href="{% url "rules" %}">Rules</a></li>
                        <li><a href="{% url "prizes" %}">Prizes</a></li>
                        {% endcomment %}
                        <li><a href="{% url "coc" %}">Code of Conduct</a></li>
                        <li><a href="https://www.eventbrite.com/e/hackit-fresno-tickets-16003857970" class="register">Register @ Eventbrite</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a href="https://twitter.com/HackItFresno">
                            <span class="fa fa-twitter fa-lg"></span>
                            @HackItFresno
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            {# <hr /> #}

            <p class="lead text-center">Presented with <span class="fa fa-heart"><span class="sr-only">love</span></span> by &hellip;</p>

            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="http://alacartesoftware.co/">
                        <img src="{% static "img/alacarte.png" %}" alt="à la carte logo" class="img-responsive" />
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="http://bitwiseindustries.com/">
                        <img src="{% static "img/bitwise.png" %}" alt="Bitwise Industries logo" class="img-responsive" />
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="http://fresnohacknight.com/">
                        <img src="{% static "img/hacknight.png" %}" alt="Fresno Hack Night logo" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
