body {
    background-color: #f5edd3;
    color: #03324c;
    font-family: "Sanchez", serif;
}

h1 {
    font-size: 40px;
}

hr {
    border-top-color: #fae596;
}

.img-responsive {
    display: inline-block;
}

.light {
    color: #9fc6cd;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.fa-heart {
    color: #d91e25;
}

.fa-twitter {
    color: #4099ff;
}

.fa-facebook-square {
    color: #3b5998;
}

header .register {
    color: #03324c !important;
    font-weight: bold;
}

header .banner {
    background-color: #9fc6cd;
    text-align: center;
}

header .navbar-default {
    background-color: #fff;
}

.navbar .navbar-toggle {
    margin-left: 15px;
}

footer {
    margin: 50px 0;
}
